# GLApp properties file
# read by GLApp.loadSettings()

# Screen resolution, color depth, and refresh frequency
displayWidth=1024
displayHeight=768
displayColorBits=32
displayFrequency=60

# Number of bits per pixel in depth buffer (defaults to 24)
depthBufferBits=24

# Full screen display, or floating window (yes|no) (defaults to yes)
fullScreen=yes

